# Ignore node_modules directory
node_modules


# Ignore build directory
build

# Ignore .env file
.env

# Other common ignores
.DS_Store
*.log
*.tmp
*.swp
.idea/
.vscode/
dist/
coverage/

set-admin-role/*firebase-service-account*.json
