# Ignore node_modules directory
node_modules


# Ignore build directory
build

# Ignore .env file
.env

# Ignore firebase-adminsdk
*firebase-adminsdk*.json

# Other common ignores
.DS_Store
*.log
*.tmp
*.swp
.idea/
.vscode/
dist/
coverage/
